body {
  background-color: white;
}

.navbar {
  z-index: 5;
  display: flex;
  width: 100%;
  position: fixed;
  background-color: white;
  margin-top: -8px;
  height: 50px;
  border-bottom: 1px solid gray;
}

iframe {
  border: none;
}

a {
  color: black;
}

.icon {
  margin-top: 10px;
  width: 40%;
  height: 70px;
  float: left;
}

.icon i {
  margin-right: 10px;
}

.icon a {
  text-decoration: none;
}

.footer a {
  text-decoration: none;
}

.icon a:hover {
  text-decoration: underline;
}

.title {
  margin-top: 10px;
  width: 20%;
  height: 70px;
}

.sub {
  margin-top: 10px;
  width: 40%;
  text-align: right;
  height: 70px;
  float: right;
}

.sub button {
  height: 30px;
  width: 50px;
  border-radius: 4px;
  border: none;
  color: aliceblue;
  background-color: black;
  margin-right: 20px;
  margin-left: 5px;
}

.dr {
  display: flex;
  justify-content: center;
  align-content: center;
}

.dr div {
  clear: both;
  width: 70%;
}

.dr div img {
  width: 100%;
  height: 80%;
}

.flt h1 {
  color: white;
}

.dr div h1 {
  margin-left: 180px;
  margin-top: 80px;
  line-height: 35px;
  font-size: 35px;
}

.writ {
  clear: both;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 45px;
}

.first {
  margin-top: 40px;
  clear: both;
  width: 50%;
}

.first li {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  border: none;
  float: right;
  margin-left: 10px;
  margin-top: -30px;
}

.first #aw {
  float: right;
}

.btn button {
  height: 45px;
  margin-bottom: 10px;
  padding: 10px;
  width: 280px;
  margin-left: 10px;
}

#aw button {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 100%;
}

.second div img {
  width: 100%;
}

.cont div img {
  width: 100%;
  height: 30%;
}

#aw img {
  margin-bottom: -15px;
}

.second {
  display: flex;
  justify-content: center;
  align-content: center;
}

.second div {
  width: 50%;
}

aside p {
  padding: 6px;
  font-size: 18px;
  border-bottom: 1px solid rgb(196, 196, 196);
}

.btn small {
  color: grey;
}



.second div p {
  font-size: 23px;
  line-height: 33px;
}

.sketch{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.image {
  width: 70%;
  margin-left: 15%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.chila,.chilb{
  width: 100%;
  display: flex;
}
.chila div, .chilb div{
  width: 30%;
  display: flex;
  flex-wrap: wrap;
}

.chila div img , .chilb div im{
  width: 100%;
}

.chila p{
  width: 50%;
}

#skt {
  margin-left: 170px;
  width: 850px;
  color: grey;
}

#skt small {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
}

.btn {
  width: 50%;
  clear: both;
  display: flex;
  height: 50px;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -50px;
  margin-left: 25%;
}

.btn div {
  display: flex;
  justify-content: space-between;
}

.white {
  color: rgb(170, 170, 170);
}

#log {
  color: white;
  background-color: rgb(86, 123, 149);
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}

#gol {
  color: black;
  background-color: white;
  font-size: 15px;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid black;
}

.flt {
  width: 100%;
  position: relative;
  margin-top: 60px;
  z-index: 2;
}

.flt h4 {
  margin: 10px;
}

.flt article {
  border-top: 1px solid;
  width: 60%;
  float: left;
  margin-left: 40px;
}

.cont {
  width: 100%;
  max-height: 50px;
}

.cont div {
  width: 30%;
  margin: 10px;
  float: left;
}

.flt aside {
  border-top: 1px solid;
  width: 30%;
  float: right;
  margin-right: 20px;
}

footer {
  clear: both;
  border-top: 1px groove grey;
  margin: 10px;
}

.goto {
  float: right;
  color: rgb(54, 101, 134);
  font-size: 15px;
  margin-top: 10px;
}

.footer {
  position: relative;
  width: 100%;
}

.footer div {
  width: 15%;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer li {
  list-style: none;
  margin-top: 5px;
}

.footer h5 {
  margin-left: 40px;
  font-weight: 950;
  margin-bottom: -5px;
}

.bottom {
  color: grey;
  padding: 20px;
  font-size: 15px;
  margin-top: 20px;
  clear: both;
  text-align: center;
}

#wa button {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 100%;
}
