body {
  background-color: white;
}

.navbar {
  z-index: 5;
  display: flex;
  width: 100%;
  position: fixed;
  background-color: white;
  margin-top: -8px;
  height: 50px;
  border-bottom: 1px solid gray;
}

.icon {
  margin-top: 10px;
  width: 40%;
  height: 70px;
}

.icon i {
  margin-right: 10px;
}

.title {
  margin-top: 10px;
  width: 20%;
  height: 70px;
}

.sub {
  margin-top: 10px;
  width: 40%;
  text-align: right;
  height: 70px;
}

.sub button {
  height: 30px;
  width: 50px;
  border-radius: 4px;
  border: none;
  color: aliceblue;
  background-color: black;
  margin-right: 20px;
}

a {
  color: black;
  text-decoration: none;
  margin-right: 5px;
}

.dr {
  display: flex;
  justify-content: center;
  align-content: center;
}

.dr div {
  clear: both;
  width: 70%;
}

.dr div img {
  width: 100%;
  height: 80%;
}

.dr div h1 {
  margin-left: 180px;
  margin-top: 80px;
  line-height: 35px;
  font-size: 35px;
}

.writ {
  clear: both;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 45px;
}

.first {
  margin-top: 40px;
  clear: both;
  width: 50%;
}

.first li {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  border: none;
  float: right;
  margin-left: 10px;
  margin-top: -30px;
}

.second {
  display: flex;
  justify-content: center;
  align-content: center;
}

.second div {
  width: 50%;
}

aside p {
  padding: 6px;
  font-size: 18px;
  border-bottom: 1px solid rgb(196, 196, 196);
}

.btn p {
  font-size: 23px;
  line-height: 33px;
  text-align: center;
  font-weight: bold;
}

.second div p {
  font-size: 23px;
  line-height: 33px;
}
.sketch div {
  position: relative;
  width: 70%;
  max-height: 600px;
  margin-left: 170px;
}

.sketch div img {
  width: 100%;
  z-index: 2;
}

.sketch p {
  z-index: 5;
  width: 200px;
  font-size: 15px;
  line-height: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.sketch #p1 {
  top: 2px;
  margin-top: -400px;
}

.sketch #p2 {
  margin-left: 250px;
  margin-top: -140px;
}

.sketch #p3 {
  margin-left: 500px;
  margin-top: -130px;
}

.sketch #p4{
  margin-left: 730px;
  margin-top: -120px;
}

.sketch #p5{
  margin-top: 120px;
}

.sketch #p6{
  margin-top: -150px;
  margin-left: 250px;
}

.sketch #p7{
  margin-left: 460px;
  margin-top: -150px;
}

.sketch #p8{
  margin-left: 700px;
  margin-top: -150px;
}

#skt{
  margin-left: 170px;
  width: 850px;
  color: grey;
}

#skt small{
  font-size: 20px;
  font-weight:bold;
  margin-bottom: 20px;
  color: black;
}

.btn {
  clear: both;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: -20px;
}

.white {
  color: rgb(170, 170, 170);
}

.btn button {
  width: 250px;
  margin-left: 510px;
  margin-bottom: 10px;
  padding: 10px;
}

#log {
  color: white;
  background-color: rgb(54, 52, 52);
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}

#gol {
  color: black;
  background-color: white;
  font-size: 15px;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid black;
}

.flt {
  width: 100%;
  position: relative;
  margin-top: 60px;
  z-index: 2;
}

.flt h4 {
  margin: 10px;
}

.flt article {
  border-top: 1px solid;
  width: 60%;
  float: left;
  margin-left: 40px;
}

.cont {
  width: 100%;
  max-height: 50px;
}

.cont div {
  width: 30%;
  margin: 10px;
  float: left;
}

.cont div img {
  width: 100%;
  height: 30%;
}

.flt aside {
  border-top: 1px solid;
  width: 30%;
  float: right;
  margin-right: 20px;
}
